# UERANSIM UE (container variant). Filled in by entrypoint.sh:
#   ${GNB_IP}  - resolved 'gnb' container on the core network
#   ${UE_SUPI} - IMSI digits           (default 999700000000001)
#   ${UE_APN}  - DNN                    (default internet)
#   ${UE_SST}  - slice SST             (default 1)
# Pass UE_SUPI / UE_APN / UE_SST as container env to place a UE on a different slice.
supi: 'imsi-${UE_SUPI}'
mcc: '999'
mnc: '70'

protectionScheme: 0
homeNetworkPublicKey: '5a8d38864820197c3394b92613b20b91633cbd897119273bf8e4a6f4eec0a650'
homeNetworkPublicKeyId: 1
routingIndicator: '0000'

key: '465B5CE8B199B49FAA5F0A2EE238A6BC'
op: 'E8ED289DEBA952E4283B54E88E6183CA'
opType: 'OPC'
amf: '8000'
imei: '356938035643803'
imeiSv: '4370816125816151'

gnbSearchList:
  - ${GNB_IP}

uacAic:
  mps: false
  mcs: false
uacAcc:
  normalClass: 0
  class11: false
  class12: false
  class13: false
  class14: false
  class15: false

sessions:
  - type: 'IPv4'
    apn: '${UE_APN}'
    slice:
      sst: ${UE_SST}

configured-nssai:
  - sst: ${UE_SST}
default-nssai:
  - sst: ${UE_SST}

integrity:
  IA1: true
  IA2: true
  IA3: true
ciphering:
  EA1: true
  EA2: true
  EA3: true
integrityMaxRate:
  uplink: 'full'
  downlink: 'full'
